<!-- nav -->
<nav class="grey">
    <div class="nav-wrapper" style="padding-left: 1em;">
        <a href="#!" class="brand-logo">CC FED</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="tools.html">tools</a></li>
            <li><a href="css-frameworks.html">css-frameworks</a></li>
            <li><a href="js-frameworks.html">js-frameworks</a></li>
            <li><a href="design.html">design</a></li>
            <li><a href="about-me.html">about-me</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="active"><a href="tools.html">tools</a></li>
            <li><a href="css-frameworks.html">css-frameworks</a></li>
            <li><a href="js-frameworks.html">js-frameworks</a></li>
            <li><a href="design.html">design</a></li>
            <li><a href="about-me.html">about-me</a></li>
        </ul>
    </div>
</nav>
